@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&display=swap");

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "resume";
@import "~bootstrap/scss/bootstrap.scss";

@import "global.scss";
@import "bootstrap-overrides.scss";
